@import "tailwindcss";

.menu-item {
  @apply relative flex gap-2 p-3 rounded-lg cursor-pointer transition;
}

.menu-item::before {
  content: "";
  @apply absolute -left-5 top-0 h-full w-1.5 bg-green-900 rounded-r-lg opacity-0 transition-opacity duration-300;
}

.menu-item:hover::before {
  @apply opacity-100;
}

.menu-item:hover {
  @apply text-black font-medium;
}

.menu-item:hover .icon {
  @apply text-green-800;
}

.sidebars{
  position: absolute;
  z-index: 1;
}